Repository space-sunrise/fish-station, pull requests merged in 2025-08, with the labels that each got.

#38 Хотфикс. Эвак пакеда
  Resources/Maps/_Fish/Shuttles/emergency_packed.yml
Labels: Несортированный, size/S

#40 Горячий фикс
  Resources/Maps/_Fish/Nonstations/transit_hub.yml
  Resources/Maps/_Fish/Shuttles/emergency.yml
  Resources/Maps/_Fish/Shuttles/emergency_packed.yml
  Resources/Prototypes/_Sunrise/Maps/packed.yml
Labels: Несортированный, size/XL

#45 [Maps] Barratry update
  Resources/Maps/_Fish/Shuttles/emergency_barratry.yml
  Resources/Maps/_Fish/Station/barratry.yml
  Resources/Prototypes/_Fish/Maps/Pools/default.yml
  Resources/Prototypes/_Sunrise/Maps/barratry.yml
Labels: Несортированный, size/XL

#64 linter fix
  Resources/Locale/en-US/_prototypes/_fish/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/_fish/_strings/bounties/bounties.ftl
  Resources/Locale/ru-RU/_prototypes/_fish/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/_strings/_fish/job/department-desc.ftl
  Resources/Prototypes/_Fish/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Fish/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/_Fish/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Fish/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Fish/Stacks/consumable_stacks.yml
  Resources/migration.yml
Labels: Несортированный, size/S, Статус: Требует Рассмотрения

#65 hotfix
  Resources/migration.yml
Labels: Несортированный, Статус: Требует Рассмотрения, size/XS

#67 Merge branch 'master' into stable
  Resources/Locale/en-US/_strings/_fish/alert-levels/alert-levels.ftl
  Resources/Locale/en-US/_strings/_fish/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/_strings/_fish/alert-levels/alert-levels.ftl
  Resources/Locale/ru-RU/_strings/_fish/guides.ftl
  Resources/Locale/ru-RU/_strings/_fish/preferences/loadout-groups.ftl
  Resources/Prototypes/_Fish/Guidebook/rulesFish.yml
  Resources/ServerInfo/Guidebook/ServerRules/FishRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/CoreRules/FishDisciplinaryPolicies.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/CoreRules/FishR0.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/CoreRules/FishR1.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/CoreRules/FishR10.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/CoreRules/FishR2.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/CoreRules/FishR3.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/CoreRules/FishR4.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/CoreRules/FishR6.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/CoreRules/FishR7.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/CoreRules/FishR8.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/CoreRules/FishR9.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/SubRules/FishSR21.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/SubRules/FishSR31.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/SubRules/FishSR32.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/SubRules/FishSR33.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/SubRules/FishSR34.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/SubRules/FishSR35.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/SubRules/FishSR36.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/SubRules/FishSR37.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/SubRules/FishSR38.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/SubRules/FishSR39.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/SubRules/FishSR41.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFish/SubRules/FishSR42.xml
Labels: Несортированный, Статус: Требует Рассмотрения, Branch: Stable, size/M

#78 А нахуя я ПР сделал...
  Resources/Locale/en-US/_prototypes/_fish/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_prototypes/_fish/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Fish/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Fish/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Fish/Objects/Fun/toys.rsi/annasolovieva.png
  Resources/Textures/_Fish/Objects/Fun/toys.rsi/meta.json
Labels: Несортированный, size/S, Статус: Требует Рассмотрения

#81 плюшки, плащ и нимб
  Resources/Locale/en-US/_prototypes/_fish/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/_prototypes/_fish/entities/clothing/head/hats.yml
  Resources/Locale/en-US/_prototypes/_fish/entities/clothing/neck/cloaks.ftl
  Resources/Locale/en-US/_prototypes/_fish/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_fish/_strings/bounties/bounties.ftl
  Resources/Locale/ru-RU/_prototypes/_fish/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/_prototypes/_fish/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/_prototypes/_fish/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Fish/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Fish/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Fish/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Fish/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Fish/Clothing/Head/Hats/squishy_moth_hat.rsi/equipped-HELMET.png
  Resources/Textures/_Fish/Clothing/Head/Hats/squishy_moth_hat.rsi/icon.png
  Resources/Textures/_Fish/Clothing/Head/Hats/squishy_moth_hat.rsi/inhand-left.png
  Resources/Textures/_Fish/Clothing/Head/Hats/squishy_moth_hat.rsi/inhand-right.png
  Resources/Textures/_Fish/Clothing/Head/Hats/squishy_moth_hat.rsi/meta.json
  Resources/Textures/_Fish/Clothing/Neck/Cloaks/squishymoth.rsi/equipped-NECK.png
  Resources/Textures/_Fish/Clothing/Neck/Cloaks/squishymoth.rsi/icon.png
  Resources/Textures/_Fish/Clothing/Neck/Cloaks/squishymoth.rsi/inhand-left.png
  Resources/Textures/_Fish/Clothing/Neck/Cloaks/squishymoth.rsi/inhand-right.png
  Resources/Textures/_Fish/Clothing/Neck/Cloaks/squishymoth.rsi/meta.json
  Resources/Textures/_Fish/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Fish/Objects/Fun/toys.rsi/plushie-mikhail-beerbeard-oboronovich.png
  Resources/Textures/_Fish/Objects/Fun/toys.rsi/plushie-squishy-moth.png
Labels: Несортированный, Статус: Требует Рассмотрения, size/M

#88 Обновление Плюшевой игрушки Олега Моля,и фикс цены трубы.
  Resources/Locale/ru-RU/_strings/_fish/datasets/figurines.ftl
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/_Fish/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Fish/datasets/figurines.yml
  Resources/Prototypes/_Sunrise/Datasets/figurines.yml
Labels: Несортированный, size/S, Нет C#, Изменения: Локализация

#90 Отдельная версия дев карта с доп. стыковочными шлюзами.
  Resources/Maps/_Fish/Test/dev_map_fish.yml
  Resources/Prototypes/Maps/debug.yml
Labels: Несортированный, Статус: Требует Рассмотрения, size/XL, Изменения: Карты, Нет C#

#84 [Maps] Case
  Resources/Maps/_Fish/Shuttles/emergency_Case.yml
  Resources/Maps/_Fish/Station/Case.yml
  Resources/Prototypes/_Fish/Maps/Case.yml
  Resources/Prototypes/_Fish/Maps/Pools/default.yml
Labels: Несортированный, S: Merge Conflict, Статус: Требует Рассмотрения, size/XL, Изменения: Карты, Нет C#
